        body {
            font-family: FuturaPT !important;
            margin: 0 auto;
            width: 1327px;
            Height: auto;
            overflow: hidden;
            background: #fff;
        }
        /*Header*/
        
        .Header {
            width: 1327px;
            height: 75px;
            margin-left: 40px;
            background: #84797900;
        }
        
        .Header .logo {
            width: 600px;
        }
        
        .Header .logo img {
            height: 90px;
            width: 90px;
            float: left;
        }
        
        .Header .head_name {
            height: 90px;
            width: 496px;
            float: right;
            margin-right: 397px;
        }
        /* .sightweb {
            color: #888;
        } */
        /* tim kiem */
        
        .header form {
            width: 727px;
        }
        
        input[type="text"] {
            border-radius: 4px;
            float: left;
            position: absolute;
            margin-left: 966px;
            margin-top: 29px;
            width: 165px;
        }
        
        input[type="text"]:hover {
            width: 223px;
        }
        /*Main*/
        
        .Main {
            margin: 0px;
            width: 1327px;
            height: auto;
            margin-top: 20px;
        }
        /**/
        
        .Main .Menu {
            width: 180px;
            height: 435px;
            float: left;
            position: fixed;
            background: #ec3232;
            border-radius: 9px;
            border-width: 10px;
        }
        
        .Main .Menu ul {
            list-style: none;
        }
        
        .Main .Menu ul li {
            margin-bottom: 45px;
        }
        
        .Main .Menu ul li a {
            text-decoration: none;
            font-size: 19px;
            color: #fff;
            font-family: sans-serif;
            letter-spacing: 1px;
            cursor: pointer;
            font: 18px Montserrat, sans-serif;
        }
        
        .Main .Menu .bot li a {
            font-size: 12px;
            font-weight: bold;
        }
        
        .bot {
            list-style: none;
        }
        
        .Main .Banner {
            width: 1177px;
            height: 540px;
            float: left;
            margin-left: 150px;
            overflow: scroll;
            overflow-x: hidden;
        }
        
        .Main .Banner .main {
            height: 480px;
            margin-bottom: 59px;
        }
        
        .Main .Banner .main ul {
            list-style: none;
            /* margin-bottom: 10px; */
        }
        
        .Main .Banner .main ul li {
            width: 1177px;
            height: auto;
            margin-bottom: 50px;
        }
        
        .Main .Banner .main #imgmain {
            height: 493px;
            width: 986px;
            border-radius: 9px;
            border-width: 10px;
            display: block;
            margin-left: 112px;
            margin-right: auto;
            margin-bottom: 17px;
        }
        
        .Main .Banner .Footer {
            width: 986px;
            margin-left: 112px;
            background: #2b2f3114;
            height: 437px;
            border-radius: 9px 9px 0 0;
            border-width: 10px;
        }
        
        .Main .Banner .audi {
            width: 986px;
            margin-left: 112px;
            height: 479px;
        }
        
        .Main .Banner .Footer p {
            color: #2B2F31;
            width: 250px;
            margin-left: 72px;
            font: 18px Montserrat, sans-serif;
        }
        
        .about {
            width: 350px;
            float: left;
        }
        
        .contact {
            width: 250px;
            float: left;
        }
        
        .link {
            width: 386px;
            float: left;
        }
        
        #stt {
            color: #fff;
        }
        
        #pp {
            text-align: center;
        }
        
        .about h2 {
            color: #70b0f3;
        }
        
        .contact h2 {
            color: #f14d4d;
        }
        
        .link h2 {
            color: #82bb6f;
        }
        
        .Main .Banner .social {
            width: 986px;
            margin-left: 112px;
            height: 27px;
            background: #2B2F31;
            float: left;
            margin-bottom: 79px;
            border-radius: 0 0 9px 9px;
        }
        
        .fa {
            /* padding: 20px; */
            font-size: 20px;
            width: 21px;
            text-align: center;
            text-decoration: none;
            border-radius: 20px;
            margin-top: 3px;
            margin-left: 10px;
            margin-right: 10px;
            /* margin: 5px 2px; */
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
            background: #3B5998;
            color: white;
        }
        
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
        
        .fa-instagram {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            color: white;
        }