body{
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin:0px auto;
    background-color:white; 
}
#menu_top{
    background: white;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
#menu_top #menu_right {
    width: 500px;
    float:left;
    text-align: center;
}

#menu_top #menu_right p{
    font-size:15px ;
    color: lightcoral;
    text-align: center;
    font-weight: bold;

}
#menu_top #menu_left ul{
    margin: 0px;
    padding: 0px;
}
#menu_top ul li{
    list-style: none;
    float: left;
    text-transform: uppercase;
}
#menu_top #menu_left ul li a{
    text-decoration: none;
    display: block;
    height: 20px;
    line-height: 20px;
    color: black;
    padding: 0px 20px 0px 20px;
   /* border-right: 1px solid #ccc;*/
   font-size: 12px;
}
#menu_top #menu_left ul li a:hover{
    color: #adad90;
}
#menu_top #menu_left ul li a.active{
    background: rgb(169, 169, 238);
}
#menu_top #menu_left ul li form input[type="text"]{
    width: 50px;
    box-sizing: border-box;
    border: 0px solid black;
    border-radius: 4px;
    outline:none;
}
#banner{
    height: 300px;
    width:1000px;
    position: relative;
}
#banner #hidden{
    position: absolute;
    bottom: 5px;
    margin-left: 908px;
}
#banner #hidden .btn{
    background-color: rgb(0, 0, 0,0);
    color: rgb(155, 115, 115);
    border: none;
    font-size: 40px;
    cursor: pointer;
}
#main{
    margin-top: 20px;
}
#main #left{
    width: 800px;
    height: auto;
    float: left;
}
#main #left ul li .giay{
    height: 150px;
    width: 180px;
}
#main #right{
    width: 200px;
    float: left;
    min-height: 400px;
}

#footer{
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #FFF;
    clear: left;
    line-height: 60px;
    
}


#banner img{
    height: 300px;
    width: 1000px;
}
#main #left ul{
    margin: 0px;
    padding: 0px;
}
#main #left ul li{
    float: left;
    list-style: none;
    clear: left;
    
    margin-bottom: 20px;
}
#main #left ul li h2{
    margin-top: 0px;
}
#main #left ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main{
    margin-top: 30px;
    font:  FuturaPT !important;
}
#main #left ul li h2 a{
    text-decoration: none;
    color: black;
}

#main #right{
    margin: 0px;
    padding: 0px  ;
    background: white;
}
#main #right .menu_right ul{
    margin:-16px 0px 0px 0px;
    padding: 0px;
}
#main #right .menu_right ul li {
    list-style: none;
   
    
}
#main #right .menu_right ul li a{
    text-decoration: none;
    color: black;
    display: block;
    line-height: 32px;
    border-top: 1px solid black;
    margin-top: 0px;
    background:url('/HìnhẢnh/icons8-no-eggs-16.png') no-repeat 3px;
    text-indent: 20px;
   
}
#main #right .menu_right h3 {
    background:#194d58  ; 
    height: 40px;
    margin-top: 0px;
    font-size: 15px;
    line-height:30px;
    color: #FFF;
}
#main #right .menu_right h3 img{
    height: 23px;
    width: 23px;
    padding-top: 4px;
}
